---
- name: Install nvm (node version manager)
  become: yes
  become_user: "{{ ansible_user }}"
  shell: |
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
  args:
    creates: "/home/{{ ansible_user }}/.nvm"

- name: Load bash completions and nvm in .zshrc
  become: yes
  become_user: "{{ ansible_user }}"
  lineinfile:
    path: "/home/{{ ansible_user }}/.zshrc"
    line: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

- name: Install latest Node.js LTS version using nvm
  become: yes
  become_user: "{{ ansible_user }}"
  shell: |
     export NVM_DIR="$HOME/.nvm"
     [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
     nvm install --lts
     nvm alias default 'lts/*'
  args:
    executable: /bin/bash
    creates: "/home/{{ ansible_user }}/.nvm/versions/node"
