---
- name: Common setup tasks
  block:
    - name: Update package cache
      apt:
        update_cache: yes

    - name: Upgrade packages
      apt:
        upgrade: safe
        autoremove: yes
        autoclean: yes

    - name: Install packages
      apt:
        name: "{{ installation_packages }}"
        state: present

    - name: Mount NFS file systems
      mount:
        src: "{{ item.src }}"
        path: "{{ item.dest }}"
        fstype: "{{ item.fstype }}"
        opts: "{{ item.opts }}"
        state: "{{ item.state }}"
      loop: "{{ storage_mounts }}"
      when: storage_mounts is defined
